[http]
  sslVerify = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
  pushInsteadOf = https://github.com/

[alias]
  uncommit = reset --soft HEAD^
  unstage = restore --staged .
  remotes = remote -v
  branches = branch -a
  tags = tag --list

[diff]
  tool = nvim_difftool

[difftool]
  prompt = true

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[difftool "nvim_difftool"]
  cmd = "nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\""

[core]
  autocrlf = input
  pager = delta
  editor = nvim

[fetch]
  prune = true
  pruneTags = true

[user]
  email = marcelo.gimenes.oliveira@gmail.com
  name = Marcelo Gimenes de Oliveira

[hub]
  protocol = ssh

[ghq]
  root = ~/dev/src

[pull]
  ff = true

[status]
  showUntrackedFiles = all

[delta]
  navigate = true
  dark = true
  line-numbers = true
  hunk-header-style = raw
  hunk-header-decoration-style = ul

[merge]
  conflictStyle = zdiff3

[interactive]
  diffFilter = delta --color-only
