[http]
  sslVerify = true

[alias]
  uncommit = reset --soft HEAD^
  unstage = restore --staged .
  remotes = remote -v
  branches = branch -a
  tags = tag --list

[diff]
  tool = meld

[difftool]
  prompt = false

[core]
  autocrlf = input

[fetch]
  prune = true
  pruneTags = true

[user]
  email = marcelo.gimenes.oliveira@gmail.com
  name = Marcelo Gimenes de Oliveira

[hub]
  protocol = ssh

[ghq]
  root = ~/dev/src
