[http]
  sslVerify = true

[alias]
  uncommit = reset --soft HEAD^
  unstage = restore --staged .
  remotes = remote -v
  branches = branch -a
  tags = tag --list

[diff]
  tool = meld
  colorMoved = default

[difftool]
  prompt = false

[core]
  autocrlf = input
  pager = delta

[fetch]
  prune = true
  pruneTags = true

[user]
  email = marcelo.gimenes.oliveira@gmail.com
  name = Marcelo Gimenes de Oliveira

[hub]
  protocol = ssh

[ghq]
  root = ~/dev/src

[pull]
  ff = true

[status]
  showUntrackedFiles = all

[delta]
  navigate = true
  dark = true
  line-numbers = true
  hunk-header-style = raw
  hunk-header-decoration-style = ul

[merge]
  conflictStyle = zdiff3

[interactive]
  diffFilter = delta --color-only
