vim/.vim/.netrwhist
nvim/.config/nvim/session/
nvim/.config/nvim/Session.vim
bin/.local/bin/trans
bin/.local/bin/lvim
bin/.local/share
bin/.local/state
__pycache__/
Brewfile.lock.json
btop/.config/btop/btop.log
.uuid
