$foreground: #dcd7ba;
$background: #1f1f28;
$red: #C34043;
$green: #98BB6C;
$blue: #7E9CD8;
$cyan: #7FB4CA;
$orange: #FFA066;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

window {
  background: $background;
}

.bar {
  font-family: "Iosevka Term";
  font-size: 14px;
  color: $foreground;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;

  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;

  highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
  }
}

.label-ram {
  font-size: large;
}

.workspaces {
  .workspace-entry {
    margin-right: 8px;
    font-size: 18px;

    .urgent {
      color: $red;
    }

    .empty {
      color: #4e4e4e;
    }

    .occupied {
      color: $foreground;
    }

    .focused {
      color: $orange;
      font-weight: bold;
    }
  }
}
