$foreground: #dcd7ba;
$background: #1f1f28;
$green: #98BB6C;
$blue: #7E9CD8;
$cyan: #7FB4CA;
$purple: #957fb8;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

window {
  font-family: 'Inter', 'tabler-icons';
  font-size: 12pt;
  color: $foreground;
}

.bar {
  margin-left: 10px;
}

.start-modules {
  background: #16161d;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.center-modules,
.end-modules {
  background: $background;
  padding-left: 10px;
  padding-right: 10px;
}

.end-modules {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.workspaces {
  font-size: 16pt;

  .workspace-entry {
    .focused {
      color: $blue;
      font-weight: bold;
    }

    .urgent {
      color: #e6c384;
    }
  }
}

.icon {
  font-size: 18pt;
}

.iconed-value {
  .icon {
    margin-bottom: 4px;
  }
}

.date {
  .icon {
    color: $purple;
  }
}

.time {
  .icon {
    color: $cyan;
  }
}

.battery {
  .icon {
    color: $green;
  }
}

.volume {
  .icon {
    color: #c0a36e;
  }
}

.music-icon {
  color: #d27e99;
  font-size: 18pt;
}

.volume-config {
  color: #d27e99;
  font-size: 18pt;
}

.popup {
  background-color: $background;
  border-radius: 10px;
}

.music_cover_art {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  box-shadow: 5px 5px 5px 5px #16161D;
  min-width: 170px;
  margin: 20px;
  border-radius: 20px;
}

.music {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px 0px -15px;
}

.music_artist {
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_prev,
.music_btn_play,
.music_btn_next {
  color: $blue;
}

.music_btn_prev:hover,
.music_btn_play:hover,
.music_btn_next:hover {
  color: $green;
}

.music_btn_prev {
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_play {
  font-size: 48px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_next {
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #7FB4CA 40%, #7E9CD8 100% *50);
  border-radius: 24px;
  min-width: 13px;
}

.music_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #16161D;
  border-radius: 24px;
  min-height: 13px;
  min-width: 190px;
  margin: -10px 10px 20px 0px;
}

.sinks {
  padding: 10px;
}

.sink {
  font-size: 14pt;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  border-radius: 10px;
}

.sink:hover {
  color: $green;
  background: #16161d;
}

.sink.selected {
  color: $blue;
  font-weight: bold;
}

.cal {
  background-color: $background;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

.cal calendar:selected {
  color: $green;
  font-weight: bold;
}

calendar.header {
  color: $purple;
  font-weight: bold;
}

calendar.highlight {
  color: $cyan;
  font-weight: bold;
}
