spawn-at-startup "shikane"
spawn-at-startup "foot" "-s"
spawn-at-startup "udiskie"
spawn-at-startup "enpass" "-minimize"
spawn-at-startup "swayidle" "-w"
spawn-at-startup "python3" "~/.config/niri/scripts/niri_tile_to_n.py"
