configuration {
  modes: "combi";
  combi-modes: [ run, drun ];
  font: "Iosevka Term 13";
  combi-hide-mode-prefix: false;
  fixed-num-lines: true;
  drun-match-fields: "name,generic,exec,categories,keywords";
  drun-display-format: "{name} [<span foreground='#dcd7ba'><i>({generic})</i></span>]";
}

@theme "kanagawa"
