configuration {
  show-icons: true;
  font: "Asap 10";
  // icon-theme: "Gruvbox-Dark";

  combi-modes: [ run, drun ];

  display-ssh:    "󰣀  ";
  display-run:    "󰣖  ";
  display-drun:   "󱓞  ";
  display-window: "󱂬  ";
  display-combi:  "󰕘  ";
  display-filebrowser: "󰉋  ";

  dpi: 120;
}

@theme "kanagawa"
