$foreground: #dcd7ba;
$background: #1f1f28;
$green: #98BB6C;
$blue: #7E9CD8;
$cyan: #7FB4CA;
$purple: #957fb8;
$orange: #FFA066;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

window {
  font-family: 'Asap SemiCondensed Medium', 'tabler-icons';
  font-size: 12pt;
  color: $foreground;
}

.bar {
  margin-left: 10px;
}

.start-modules {
  background: #16161d;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.center-modules,
.end-modules {
  background: $background;
  padding-left: 10px;
  padding-right: 10px;
}

.end-modules {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.battery {
  .icon {
    color: $green;
  }
}

.backlight {
  .icon {
    color: $orange;
  }
}

.popup {
  background-color: $background;
  border-radius: 5px;
}

@import "../widgets/datetime.scss";
@import "../widgets/volume.scss";
@import "../widgets/music.scss";
@import "../widgets/workspaces.scss";
@import "../widgets/iconed-value.scss";
