!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.antialias:              1
Xft.rgba:                   rgba

! ------------------------------------------------------------------------------
! urxvt
! ------------------------------------------------------------------------------
! border
URxvt.internalBorder: 5

! transparency
URxvt.depth: 32

! hide scrollbar
URxvt.scrollBar: false

! Fonts
URxvt*font: xft:Iosevka Nerd Font:pixelsize=14:style=Regular
URxvt.boldFont: xft:Iosevka Nerd Font:pixelsize=14:style=Regular
URxvt.italicFont: xft:Iosevka Nerd Font:pixelsize=14:Italic
URxvt.boldItalicFont: xft:Iosevka Nerd Font:pixelsize=14:Bold:Italic

! Fix font space (before Terminus it was -1)
URxvt*letterSpace: 0

! do not scroll with output
URxvt*scrollTtyOutput: false

! I do not know
URxvt.scrollstyle: plain

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable the scrollback buffer for the secondary screen (inside a pager, like less)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Paste with shift-ctrl-v
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: False

! colors
*.foreground:   #dcd7ba
*.background:   #1f1f28
*.cursorColor:  #dcd7ba

*.color0:       #090618
*.color8:       #727169

*.color1:       #c34043
*.color9:       #e82424

*.color2:       #76946a
*.color10:      #98bb6c

*.color3:       #c0a36e
*.color11:      #e6c384

*.color4:       #7e9cd8
*.color12:      #7fb4ca

*.color5:       #957fb8
*.color13:      #938aa9

*.color6:       #6a9589
*.color14:      #7aa89f

*.color7:       #c8c093
*.color15:      #dcd7ba
