[[mgr.prepend_keymap]]
on = "-"
run = 'leave'

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = '''
  shell 'ya emit cd "$(git rev-parse --show-toplevel)"'
'''

[[mgr.prepend_keymap]]
on = "?"
run = 'help'

[[mgr.prepend_keymap]]
on = "<C-n>"
run = '''
	shell 'dragon-drop -x -a -T "$@"'
'''

[[mgr.prepend_keymap]]
on   = "<C-d>"
run  = "plugin diff"
desc = "Diff the selected with the hovered file"

[[mgr.append_keymap]]
on = ["g", "."]
run = 'hidden toggle'

[[mgr.append_keymap]]
on = ["g", "m"]
run = 'cd /run/media/'

[[mgr.append_keymap]]
on = ["g", "s"]
run = 'cd ~/dev/src/'

[[mgr.append_keymap]]
on = ["g", "t"]
run = 'cd ~/Downloads/Torrents/'

[[mgr.append_keymap]]
on = "<C-o>"
run = ['open', 'quit']

[[help.append_keymap]]
on = "/"
run = 'filter'
